.card-footer{
    background-color: white !important;
}

.card-header{
    background-color: white !important;
}

.home_post{
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

.dropdown_menu{
    background-color: white !important;
    border-color: white !important;
}

.dropdown_menu:focus{
    outline: none !important;
}