@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

.logo{
    font-family: 'Grand Hotel', cursive;
    font-size: 40px !important;
}

.btn_line:hover{
    text-decoration: none;
}

.icon_btn{
    background-color: transparent;
    border: none;
}
.icon_btn:focus{
    outline: none;
}
.icon{
    font-size: 25px;
    margin-bottom: 10px;
}
.heart{
    color: red;
}